<div class="button-container">

  <mat-card class="game-card {{userCard}}">
    <mat-card-header>
      <mat-card-title>User {{userCard}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="userImg">
  </mat-card>

  <span><h2>VS</h2></span>

  <mat-card class="game-card {{compCard}}" id="compCard">
    <mat-card-header>
      <mat-card-title>Computer {{compCard}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="compImg">
  </mat-card>

</div>

<div class="button-container user-card">

  <mat-card (click)="userSelection(0)" class="game-card">
    <img mat-card-image [src]="rockImg" alt="Rock">
  </mat-card>

  <mat-card (click)="userSelection(1)" class="game-card">
    <img mat-card-image [src]="scissorsImg" alt="SCISSORS">
  </mat-card>

  <mat-card (click)="userSelection(2)" class="game-card">
    <img mat-card-image [src]="paperImg" alt="PAPER">
  </mat-card>

</div>

